* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

/* .d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
} */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.nav-menu li {
    padding-right: 10px;
}

.lancamentos {
    background-color: rgb(189, 189, 189);
}

.lancamentos h1 {
    text-align: center;
    /* padding: 40px 0; */
}

.lancamentos .content-desc {
    display: flex;
    align-items: center;
    margin: 0 20px;
    justify-content: space-between;
    gap: 30px;
}

.lancamentos .area-filme {
    width: 50%;
    justify-content: flex-start;
    border: 10px solid green;
}

.area-filme img {
    width: 100%;
    height: 300px;
}

section {
    padding: 20px 0;
}

.lancamentos .area-descricao {
    width: 50%;
    justify-content: flex-end;
    border: 10px solid green;
}

.desc-diretor ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.desc-elenco ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.avaliacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 120px;
    border: 5px solid blue;
}

.area-ava {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 5px solid black;
}

#card-ava {
    display: flex;
    align-items: top;
    width: 300px;
    border: 5px solid green;
}

#img figure img {
    display: flex;
    align-items: top;
    width: 100%;
    max-width: 70px;
    height: 50px;
    padding: 0 10px;
    border: 5px solid red;
}

#txt {
    width: 75%;
}

#txt p,
h4 {
    padding-bottom: 10px;
}

.button {
    display: flex;
    justify-content: end;
}

/* <-- NOVIDADES-INFO --> */

.novidades-info {
    height: 100vh;
    width: 100%;
    padding: 20px 120px;

    display: flex;
    gap: 20px;
}

.novidades-info .novidades {
    width: 67%;
}

.novidades-info .info {
    width: 30%;
}

.novidades-info .novidades .posts-novidades .post {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 15px 20px 0px;

}

.novidades-info .novidades .posts-novidades .post:nth-child(2) {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.novidades-info .novidades .posts-novidades .post .post-desc {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.novidades-info .novidades .posts-novidades .post .post-desc h1 {
    margin-bottom: 7px;
}

.novidades-info .novidades .posts-novidades .post .post-desc .post-tags {
    display: flex;
    gap: 10px;
}

.novidades-info .novidades .posts-novidades .post .post-desc .post-tags .tags {
    width: fit-content;
    height: fit-content;
    padding: 3px 10px;

    font-size: 0.8rem;
    background-color: rgb(61, 55, 55);
    color: white;

    border-radius: 100px;

}

.novidades-info .novidades .posts-novidades .post .post-desc .post-tags .tags:hover {
    background-color: rgb(100, 95, 95);
}