* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* C6C5C6 */
header {
    background: #BFBFBF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 120px;
}

header .search {
    position: relative;
}

header .search .search-icon {
    position: absolute;
    z-index: 9999;
    height: 12px;
    margin-top: 5.6%;
    margin-left: 10px;
}

header .search .close-icon {
    position: absolute;
    z-index: 9999;
    height: 12px;
    margin-top: 5.6%;
    right: 0;
    margin-right: 10px;
}

header .search input[type=text] {
    padding: 10px 30px;
    background-color: #BFBFBF;
    border: 1px solid black;
    border-radius: 3px;
}

header .search input[type=text]::placeholder {
    color: black;
    opacity: 1;
}

header .search input[type=text]:focus {
    outline: none;
}

/* .d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
} */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.nav-menu a {
    color: black;
    text-decoration: none;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.list-bars,
.list-bars ul,
.list-bars ol {
    list-style: none;
}

.list-bars li {
    display: inline;
    padding-right: 10px;
}

.list-bars li:not(:first-child) {
    border-left: 1.5px solid black;
    padding-left: 10px;
}

.lancamentos {
    background-color: #EEEEEE;
    padding: 20px;
    margin-bottom: 20px;
}

.lancamentos h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 60px;
}

.lancamentos .content-desc {
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    gap: 30px;
}

.lancamentos .area-filme {
    flex-basis: 50%;
    justify-content: flex-start;
}

.lancamentos .area-filme iframe {
    min-height: 50vh;
    width: 100%;
}

section {
    padding: 20px 0;
}

.lancamentos .area-descricao {
    width: 50%;
    justify-content: flex-end;
}

.desc-avaliacao-star-on,
.desc-avaliacao-star-off {
    height: .9375rem;
}

.dots {
    margin: 30px auto;
    text-align: center;
}

.dots .dot {
    height: .5rem;
}

.area-descricao .desc-sinopse h4 {
    font-weight: 500;
    font-size: 2rem;
}

/* .desc-diretor ul {
    display: flex;
    margin: 10px 0;
} */

.desc-diretor ul li {
    display: inline;
    margin-right: 20px;
}

.avaliacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 120px;
    border: 5px solid blue;
}

.desc-sinopse h4 {
    margin-bottom: 20px;
}

.desc-diretor,
.desc-elenco,
.desc-avaliacao {
    margin-top: 20px;
}

.desc-elenco>p,
.desc-avaliacao>p {
    margin-bottom: 20px;
}

.area-ava {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 5px solid black;
}

#card-ava {
    display: flex;
    align-items: top;
    width: 300px;
    border: 5px solid green;
}

#img figure img {
    display: flex;
    align-items: top;
    width: 100%;
    max-width: 70px;
    height: 50px;
    padding: 0 10px;
    border: 5px solid red;
}

#txt {
    width: 75%;
}

#txt p,
h4 {
    padding-bottom: 10px;
}

.button {
    display: flex;
    justify-content: end;
}

/* Em destaque */
.destaque {
    width: 100%;
    padding: 20px 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.destaque .destaque-header {
    background-color: none;
    padding: 0;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destaque .destaque-header h1 {
    font-size: 2rem;
}

.destaque-content {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.destaque-content .destaque-content-item img {
    max-height: 340px;
}

.destaque .destaque-footer {
    flex-basis: 100%;
    display: flex;
    justify-content: end;
}

.destaque .destaque-header select {
    border: 2px solid #dcdcdb;
    border-radius: 3px;
    background-color: white;
    padding: 10px 15% 10px 20px;
}

.destaque .destaque-header select:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 3px;
    background-color: #525252;
    color: white;
}

.btn:hover {
    background-color: #8d8d8d;
}

.btn .plus-icon {
    margin-right: 5px;
    display: inline;
    width: 1rem;
    fill: #ffffff;
}

/* <-- NOVIDADES-INFO --> */
.novidades-info {
    height: 100vh;
    width: 100%;
    padding: 20px 120px;

    display: flex;
    gap: 20px;
}

.novidades-info h1 {
    font-size: 2rem;
}

.novidades-info .novidades {
    width: 67%;
}

.novidades-info .info {
    width: 30%;
}

.novidades-info .novidades .posts-novidades .post {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 15px 20px 0px;

}

.novidades-info .novidades .posts-novidades .post:nth-child(1) {
    padding-top: 0px;

}

.novidades-info .novidades .posts-novidades .post .post-texto h2 {
    margin-bottom: 5px;
}

.novidades-info .novidades .posts-novidades .post:nth-child(2) {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.novidades-info .novidades .posts-novidades .post .post-desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 13px; */
    align-content: space-between;
}

.novidades-info .novidades .posts-novidades .post .post-desc .post-tags {
    display: flex;
    gap: 10px;
}

.novidades-info .novidades .posts-novidades .post .post-desc .post-tags .tags {
    width: fit-content;
    height: fit-content;
    padding: 3px 10px;

    font-size: 0.8rem;
    background-color: rgb(61, 55, 55);
    color: white;

    border-radius: 100px;

}

.novidades-info .novidades .posts-novidades .post .post-desc .post-tags .tags:hover {
    background-color: rgb(100, 95, 95);
}

.novidades-info .info .editorial h1 {
    margin-bottom: 20px;
}

.novidades-info .info .editorial .editorial-info .editorial-perfil {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.novidades-info .info .editorial .editorial-redes-sociais h2 {
    margin-bottom: 10px;
}

.novidades-info .info .editorial .editorial-redes-sociais img {
    margin-right: 20px;
}

/* Rodapé */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #E0E1E1;
    width: 100%;
    padding: 40px 120px;
}

footer .logo-footer,
.logo {
    border: 1px solid black;
    padding: 10px 30px;
}